/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

#header {
    height: 80px;
    text-align: center;
}

#bottom, #header {

    color: white;
    background-color: darkgray;
}

#bottom {
    position: absolute;
    top: 581px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}

#page_title {
    margin: 0px;
    line-height: 80px;
}

#bottom_text {
    margin-left: 20px;
    display: inline-block;
    width: 75%;
}

#bottom_text li {
    text-align: left;
}

.jumbotron {
    margin: 0px;
}



#map_container {
    text-align: center;
}

#map {
    height: 400px;
    width: 800px;
    display: inline-block;
}

