<h1>Hackathons</h1>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<ul>
  <% @hackathons.each do |hackathon| %>
    <li class="hackathons">
      <%= image_tag "#{hackathon['logo']}", class: "hack_img"%>
      <h3><%=hackathon["name"]%></h3>
      <%=hackathon["description"]%>
    </li>
  <%end%>
</ul>
