<div id="header">
  <h1 id="page_title">Hackathons Around the World</h1>
</div>
<div class="jumbotron" id="map_container">
  <div id="map" ></div>
  <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          var markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
      });
  </script>
</div>
<div id="bottom">
  <ol id="bottom_text">
    <li class="h3">Check out where the hackathons are happening all around the globe.</li>
    <li class="h3">Simply click on a cluster of hackathons and it will automatically zoom you in to that part of the world.</li>
    <li class="h3">Click on a specific hackathon to get the name and link to the hackathon description.</li>
  </ol>
</div>

