<h1>Hackathons</h1>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  <script>
      handler = Gmaps.build('Google');
      console.log(handler)
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          var markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
      });
  </script>
</div>

<ul>
  <% @hackathons.each do |hackathon| %>
    <li class="hackathons">
      <%= image_tag "#{hackathon['logo']}", class: "hack_img"%>
      <h3><%=hackathon["name"]%></h3>
      <%=hackathon["description"]%>
    </li>
  <%end%>
</ul>
